contents.xcworkspacedata
UserInterfaceState.xcuserstate
Awareness.xcscheme
xcschememanagement.plist
Awareness.xcodeproj/project.xcworkspace/xcshareddata/Awareness.xccheckout
Awareness.xcodeproj/xcuserdata